/* Font */
@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/400-italic.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/800.css";

@tailwind utilities;

@theme {
    --font-*:initial;
    --font-sans: "Inter", sans-serif;

    --color-primary: #b325ff;
    --color-secondary: #00c49a;
    --color-text: #ffffff;
    --color-accent: #fb8f67;
    --color-background: #0f172b;
    --color-box: #172340;
}

body {
    @apply bg-background text-text;
}

@layer components {
    .btn {
        @apply text-shadow-lg/50;
        @apply rounded text-white font-sans font-bold transition-colors duration-200;

        @apply px-2 py-7 w-auto max-w-[180px] min-w-[140px] text-center;

    }
    .start-btn-player {
        background-image: url("assets/button_playerProfile.png");
        background-size: cover;
        background-position: center;

        filter: brightness(1.0);    }

    .start-btn-player:hover {
        filter: brightness(0.75);
    }


    .start-btn-meta {
        background-image: url("assets/button_heroMeta.jpg");
        background-size: cover;
        background-position: center;

        filter: brightness(1.0);    }

    .start-btn-meta:hover {
        filter: brightness(0.75);
    }


    .start-btn-hero {
        background-image: url("assets/button_heroStats.png");
        background-size: cover;
        background-position: center;

        filter: brightness(1.0);
    }

    .start-btn-hero:hover {
        filter: brightness(0.75);
    }
}
