@import "tailwindcss";

/* Font */
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/400-italic.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/800.css";


@theme {
    --font-*:initial;
    --font-sans: "Inter", sans-serif;

    --color-primary: #b325ff;
    --color-secondary: #00c49a;
    --color-text: #ffffff;
    --color-accent: #fb8f67;
    --color-background: #0f172b;
    --color-box: #172340;
}

@layer components {
    .btn {
        @apply text-shadow-lg/50;
        @apply px-10 py-8 rounded text-white font-sans font-bold transition-colors duration-200;
    }
    .start-btn-player {
        @apply bg-blue-600 hover:bg-blue-700;
    }
    .start-btn-meta {
        @apply bg-green-600 hover:bg-green-700;
    }
    .start-btn-hero {
        background-image: url("assets/button_heroStats.png");
        background-size: cover;
        background-position: center;

        filter: brightness(1.0);
    }

    .start-btn-hero:hover {
        filter: brightness(0.75);
    }
}
